MCP/Logic.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "MSEM-Identity-Dashboard-Automation",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for the Logic App"
      }
    },
    "tenantId": {
      "type": "string",
      "defaultValue": "[subscription().tenantId]",
      "metadata": {
        "description": "Azure AD Tenant ID (defaults to subscription tenant)"
      }
    },
    "recurrenceFrequency": {
      "type": "string",
      "defaultValue": "Day",
      "allowedValues": [
        "Day",
        "Hour",
        "Week"
      ],
      "metadata": {
        "description": "Recurrence frequency"
      }
    },
    "recurrenceInterval": {
      "type": "int",
      "defaultValue": 1,
      "metadata": {
        "description": "Recurrence interval"
      }
    },
    "recurrenceHour": {
      "type": "int",
      "defaultValue": 9,
      "minValue": 0,
      "maxValue": 23,
      "metadata": {
        "description": "Hour of day to run (0-23, UTC)"
      }
    }
  },
  "variables": {
    "teamsConnectionName": "[concat('teams-', parameters('logicAppName'))]",
    "graphApiBaseUrl": "https://graph.microsoft.com/v1.0"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('teamsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Teams Connection",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/teams')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "tenantId": {
              "defaultValue": "[parameters('tenantId')]",
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "[parameters('recurrenceFrequency')]",
                "interval": "[parameters('recurrenceInterval')]",
                "schedule": {
                  "hours": [
                    "[parameters('recurrenceHour')]"
                  ],
                  "minutes": [
                    0
                  ]
                },
                "timeZone": "UTC"
              },
              "evaluatedRecurrence": {
                "frequency": "[parameters('recurrenceFrequency')]",
                "interval": "[parameters('recurrenceInterval')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_Timestamp": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Timestamp",
                    "type": "string",
                    "value": "@{utcNow()}"
                  }
                ]
              }
            },
            "Initialize_IdentityCurrentScore": {
              "runAfter": {
                "Initialize_Timestamp": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "IdentityCurrentScore",
                    "type": "float",
                    "value": 0
                  }
                ]
              }
            },
            "Initialize_IdentityMaxScore": {
              "runAfter": {
                "Initialize_IdentityCurrentScore": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "IdentityMaxScore",
                    "type": "float",
                    "value": 0
                  }
                ]
              }
            },
            "Initialize_MatchedControls": {
              "runAfter": {
                "Initialize_IdentityMaxScore": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "MatchedControls",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "Initialize_AllControlProfiles": {
              "runAfter": {
                "Initialize_MatchedControls": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AllControlProfiles",
                    "type": "array",
                    "value": []
                  }
                ]
              }
            },
            "Initialize_NextLink": {
              "runAfter": {
                "Initialize_AllControlProfiles": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "NextLink",
                    "type": "string",
                    "value": ""
                  }
                ]
              }
            },
            "Initialize_PreviousIdentityCurrentScore": {
              "runAfter": {
                "Initialize_NextLink": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "PreviousIdentityCurrentScore",
                    "type": "float",
                    "value": 0
                  }
                ]
              }
            },
            "Initialize_PreviousIdentityMaxScore": {
              "runAfter": {
                "Initialize_PreviousIdentityCurrentScore": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "PreviousIdentityMaxScore",
                    "type": "float",
                    "value": 0
                  }
                ]
              }
            },
            "HTTP_Get_SecureScores": {
              "runAfter": {
                "Initialize_PreviousIdentityMaxScore": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[concat(variables('graphApiBaseUrl'), '/security/secureScores?$top=2')]",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              }
            },
            "Parse_SecureScores": {
              "runAfter": {
                "HTTP_Get_SecureScores": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Get_SecureScores')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "createdDateTime": {
                            "type": "string"
                          },
                          "licensedUserCount": {
                            "type": "integer"
                          },
                          "activeUserCount": {
                            "type": "integer"
                          },
                          "controlScores": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "HTTP_Get_ControlProfiles_Page1": {
              "runAfter": {
                "Parse_SecureScores": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[concat(variables('graphApiBaseUrl'), '/security/secureScoreControlProfiles')]",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              }
            },
            "Parse_ControlProfiles_Page1": {
              "runAfter": {
                "HTTP_Get_ControlProfiles_Page1": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Get_ControlProfiles_Page1')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array"
                    },
                    "@@odata.nextLink": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Set_AllControlProfiles_Page1": {
              "runAfter": {
                "Parse_ControlProfiles_Page1": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "AllControlProfiles",
                "value": "@body('Parse_ControlProfiles_Page1')?['value']"
              }
            },
            "Set_NextLink_From_Page1": {
              "runAfter": {
                "Set_AllControlProfiles_Page1": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "NextLink",
                "value": "@{coalesce(body('Parse_ControlProfiles_Page1')?['@odata.nextLink'], '')}"
              }
            },
            "Until_All_ControlProfiles_Fetched": {
              "runAfter": {
                "Set_NextLink_From_Page1": [
                  "Succeeded"
                ]
              },
              "type": "Until",
              "expression": "@equals(variables('NextLink'), '')",
              "limit": {
                "count": 10,
                "timeout": "PT1M"
              },
              "actions": {
                "Check_NextLink_Exists": {
                  "runAfter": {},
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@variables('NextLink')",
                            ""
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "HTTP_Get_NextPage": {
                      "runAfter": {},
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@variables('NextLink')",
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      }
                    },
                    "Parse_NextPage": {
                      "runAfter": {
                        "HTTP_Get_NextPage": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_Get_NextPage')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "array"
                            },
                            "@@odata.nextLink": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "Compose_MergedProfiles": {
                      "runAfter": {
                        "Parse_NextPage": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "@union(variables('AllControlProfiles'), body('Parse_NextPage')?['value'])"
                    },
                    "Set_MergedProfiles": {
                      "runAfter": {
                        "Compose_MergedProfiles": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AllControlProfiles",
                        "value": "@outputs('Compose_MergedProfiles')"
                      }
                    },
                    "Set_NextLink": {
                      "runAfter": {
                        "Set_MergedProfiles": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "NextLink",
                        "value": "@{coalesce(body('Parse_NextPage')?['@odata.nextLink'], '')}"
                      }
                    }
                  }
                }
              }
            },
            "Filter_Identity_Controls": {
              "runAfter": {
                "Until_All_ControlProfiles_Fetched": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_SecureScores')?['value'][0]?['controlScores']",
                "where": "@equals(item()?['controlCategory'], 'Identity')"
              }
            },
            "ForEach_Identity_Control": {
              "runAfter": {
                "Filter_Identity_Controls": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "foreach": "@body('Filter_Identity_Controls')",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              },
              "actions": {
                "Set_Current_ControlName": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "@items('ForEach_Identity_Control')?['controlName']"
                },
                "Filter_Matching_Profile_By_Name": {
                  "runAfter": {
                    "Set_Current_ControlName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('AllControlProfiles')",
                    "where": "@equals(item()?['id'], outputs('Set_Current_ControlName'))"
                  }
                },
                "Increment_CurrentScore": {
                  "runAfter": {
                    "Filter_Matching_Profile_By_Name": [
                      "Succeeded"
                    ]
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "IdentityCurrentScore",
                    "value": "@items('ForEach_Identity_Control')?['score']"
                  }
                },
                "Condition_Profile_Matched": {
                  "runAfter": {
                    "Increment_CurrentScore": [
                      "Succeeded"
                    ]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_Matching_Profile_By_Name'))",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Condition_MaxScore_Valid": {
                      "runAfter": {},
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@first(body('Filter_Matching_Profile_By_Name'))?['maxScore']",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Increment_MaxScore": {
                          "runAfter": {},
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "IdentityMaxScore",
                            "value": "@first(body('Filter_Matching_Profile_By_Name'))?['maxScore']"
                          }
                        },
                        "Append_Matched_Control": {
                          "runAfter": {
                            "Increment_MaxScore": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "MatchedControls",
                            "value": {
                              "controlName": "@outputs('Set_Current_ControlName')",
                              "title": "@first(body('Filter_Matching_Profile_By_Name'))?['title']",
                              "currentScore": "@items('ForEach_Identity_Control')?['score']",
                              "maxScore": "@first(body('Filter_Matching_Profile_By_Name'))?['maxScore']",
                              "gap": "@sub(first(body('Filter_Matching_Profile_By_Name'))?['maxScore'], items('ForEach_Identity_Control')?['score'])"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Compose_Identity_Score_Data": {
              "runAfter": {
                "ForEach_Identity_Control": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": {
                "totalControls": "@length(body('Filter_Identity_Controls'))",
                "identityCurrentScore": "@variables('IdentityCurrentScore')",
                "identityMaxScore": "@variables('IdentityMaxScore')",
                "matchedControlsCount": "@length(variables('MatchedControls'))",
                "matchedControls": "@variables('MatchedControls')",
                "tenantCurrentScore": "@first(body('Parse_SecureScores')?['value'])?['currentScore']",
                "tenantMaxScore": "@first(body('Parse_SecureScores')?['value'])?['maxScore']",
                "licensedUsers": "@first(body('Parse_SecureScores')?['value'])?['licensedUserCount']",
                "activeUsers": "@first(body('Parse_SecureScores')?['value'])?['activeUserCount']",
                "createdDateTime": "@first(body('Parse_SecureScores')?['value'])?['createdDateTime']"
              }
            },
            "Compose_Top3_Recommendations": {
              "runAfter": {
                "Compose_Identity_Score_Data": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@take(reverse(sort(variables('MatchedControls'), 'gap')), 3)"
            },
            "Filter_Previous_Identity_Controls": {
              "runAfter": {
                "Compose_Top3_Recommendations": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@if(greater(length(body('Parse_SecureScores')?['value']), 1), body('Parse_SecureScores')?['value'][1]?['controlScores'], createArray())",
                "where": "@equals(item()?['controlCategory'], 'Identity')"
              }
            },
            "ForEach_Previous_Identity_Control": {
              "runAfter": {
                "Filter_Previous_Identity_Controls": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "foreach": "@body('Filter_Previous_Identity_Controls')",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              },
              "actions": {
                "Set_Previous_ControlName": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "@items('ForEach_Previous_Identity_Control')?['controlName']"
                },
                "Filter_Previous_Matching_Profile": {
                  "runAfter": {
                    "Set_Previous_ControlName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('AllControlProfiles')",
                    "where": "@equals(item()?['id'], outputs('Set_Previous_ControlName'))"
                  }
                },
                "Increment_PreviousCurrentScore": {
                  "runAfter": {
                    "Filter_Previous_Matching_Profile": [
                      "Succeeded"
                    ]
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "PreviousIdentityCurrentScore",
                    "value": "@items('ForEach_Previous_Identity_Control')?['score']"
                  }
                },
                "Condition_Previous_Profile_Matched": {
                  "runAfter": {
                    "Increment_PreviousCurrentScore": [
                      "Succeeded"
                    ]
                  },
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_Previous_Matching_Profile'))",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Condition_Previous_MaxScore_Valid": {
                      "runAfter": {},
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@first(body('Filter_Previous_Matching_Profile'))?['maxScore']",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Increment_PreviousMaxScore": {
                          "runAfter": {},
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "PreviousIdentityMaxScore",
                            "value": "@first(body('Filter_Previous_Matching_Profile'))?['maxScore']"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Compose_Previous_Identity_Score": {
              "runAfter": {
                "ForEach_Previous_Identity_Control": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": {
                "hasPrevious": "@and(greater(length(body('Parse_SecureScores')?['value']), 1), greater(length(body('Filter_Previous_Identity_Controls')), 0), greater(variables('PreviousIdentityMaxScore'), 0))",
                "currentPercentage": "@if(greater(outputs('Compose_Identity_Score_Data')?['identityMaxScore'], 0), div(mul(outputs('Compose_Identity_Score_Data')?['identityCurrentScore'], 100), outputs('Compose_Identity_Score_Data')?['identityMaxScore']), 0)",
                "previousPercentage": "@if(greater(variables('PreviousIdentityMaxScore'), 0), div(mul(variables('PreviousIdentityCurrentScore'), 100), variables('PreviousIdentityMaxScore')), 0)",
                "changePercentage": "@if(and(greater(variables('PreviousIdentityMaxScore'), 0), greater(outputs('Compose_Identity_Score_Data')?['identityMaxScore'], 0)), sub(div(mul(outputs('Compose_Identity_Score_Data')?['identityCurrentScore'], 100), outputs('Compose_Identity_Score_Data')?['identityMaxScore']), div(mul(variables('PreviousIdentityCurrentScore'), 100), variables('PreviousIdentityMaxScore'))), 0)",
                "isIncrease": "@if(and(greater(variables('PreviousIdentityMaxScore'), 0), greater(outputs('Compose_Identity_Score_Data')?['identityMaxScore'], 0)), greater(div(mul(outputs('Compose_Identity_Score_Data')?['identityCurrentScore'], 100), outputs('Compose_Identity_Score_Data')?['identityMaxScore']), div(mul(variables('PreviousIdentityCurrentScore'), 100), variables('PreviousIdentityMaxScore'))), false)",
                "previousDate": "@if(greater(length(body('Parse_SecureScores')?['value']), 1), body('Parse_SecureScores')?['value'][1]?['createdDateTime'], '')",
                "previousCurrentScore": "@variables('PreviousIdentityCurrentScore')",
                "previousMaxScore": "@variables('PreviousIdentityMaxScore')"
              }
            },
            "HTTP_Advanced_Hunting_PrivilegedUsers": {
              "runAfter": {
                "Compose_Previous_Identity_Score": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[concat(variables('graphApiBaseUrl'), '/security/runHuntingQuery')]",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                },
                "body": {
                  "Query": "IdentityInfo | extend SensitiveUser = set_has_element(Tags, 'Sensitive') | extend GlobalAdmin = set_has_element(AssignedRoles, 'Global Administrator') | extend SecurityAdmin = set_has_element(AssignedRoles, 'Security Administrator') | extend IsDisabled = not(IsAccountEnabled) | summarize arg_max(Timestamp, *) by AccountObjectId | summarize TotalGlobalAdmins = countif(GlobalAdmin), TotalSecurityAdmins = countif(SecurityAdmin), TotalSensitive = countif(SensitiveUser), TotalDisabled = countif(IsDisabled), TotalPrivileged = dcountif(AccountObjectId, GlobalAdmin or SecurityAdmin or SensitiveUser)"
                }
              }
            },
            "Parse_PrivilegedUsers_Response": {
              "runAfter": {
                "HTTP_Advanced_Hunting_PrivilegedUsers": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Advanced_Hunting_PrivilegedUsers')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Results": {
                      "type": "array"
                    },
                    "Stats": {
                      "type": "object"
                    }
                  }
                }
              }
            },
            "Compose_TeamsCard": {
              "runAfter": {
                "Parse_PrivilegedUsers_Response": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": {
                "type": "AdaptiveCard",
                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                "version": "1.4",
                "body": [
                  {
                    "type": "Container",
                    "style": "emphasis",
                    "items": [
                      {
                        "type": "ColumnSet",
                        "columns": [
                          {
                            "type": "Column",
                            "width": "auto",
                            "items": [
                              {
                                "type": "TextBlock",
                                "text": "🔐",
                                "size": "ExtraLarge",
                                "weight": "Bolder"
                              }
                            ]
                          },
                          {
                            "type": "Column",
                            "width": "stretch",
                            "items": [
                              {
                                "type": "TextBlock",
                                "text": "Exposure Management - Identity Dashboard",
                                "weight": "Bolder",
                                "size": "Large",
                                "wrap": true
                              },
                              {
                                "type": "TextBlock",
                                "text": "Microsoft Entra Identity Security Report",
                                "spacing": "None",
                                "isSubtle": true,
                                "wrap": true
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Container",
                    "spacing": "Medium",
                    "items": [
                      {
                        "type": "ColumnSet",
                        "columns": [
                          {
                            "type": "Column",
                            "width": "auto",
                            "items": [
                              {
                                "type": "TextBlock",
                                "text": "📊 Identity Secure Score",
                                "weight": "Bolder",
                                "size": "Medium",
                                "spacing": "None"
                              },
                              {
                                "type": "ColumnSet",
                                "spacing": "Small",
                                "columns": [
                                  {
                                    "type": "Column",
                                    "width": "auto",
                                    "items": [
                                      {
                                        "type": "TextBlock",
                                        "text": "@{if(greater(outputs('Compose_Identity_Score_Data')?['identityMaxScore'], 0), formatNumber(div(mul(outputs('Compose_Identity_Score_Data')?['identityCurrentScore'], 100), outputs('Compose_Identity_Score_Data')?['identityMaxScore']), 'N2'), '0.00')}%",
                                        "size": "ExtraLarge",
                                        "weight": "Bolder",
                                        "color": "Good"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "Column",
                                    "width": "auto",
                                    "verticalContentAlignment": "Bottom",
                                    "items": [
                                      {
                                        "type": "TextBlock",
                                        "text": "@{if(outputs('Compose_Previous_Identity_Score')?['hasPrevious'], concat(if(outputs('Compose_Previous_Identity_Score')?['isIncrease'], '▲ ', if(equals(outputs('Compose_Previous_Identity_Score')?['changePercentage'], 0), '', '▼ ')), formatNumber(if(less(outputs('Compose_Previous_Identity_Score')?['changePercentage'], 0), mul(outputs('Compose_Previous_Identity_Score')?['changePercentage'], -1), outputs('Compose_Previous_Identity_Score')?['changePercentage']), 'N2'), '%'), '')}",
                                        "size": "Medium",
                                        "weight": "Bolder",
                                        "color": "@{if(outputs('Compose_Previous_Identity_Score')?['hasPrevious'], if(outputs('Compose_Previous_Identity_Score')?['isIncrease'], 'Good', 'Attention'), 'Default')}",
                                        "spacing": "Small"
                                      }
                                    ]
                                  }
                                ]
                              },
                              {
                                "type": "TextBlock",
                                "text": "@{outputs('Compose_Identity_Score_Data')?['identityCurrentScore']} / @{outputs('Compose_Identity_Score_Data')?['identityMaxScore']} points",
                                "size": "Small",
                                "spacing": "None",
                                "isSubtle": true
                              }
                            ]
                          },
                          {
                            "type": "Column",
                            "width": "stretch",
                            "separator": true,
                            "items": [
                              {
                                "type": "TextBlock",
                                "text": "🏢 Tenant Score",
                                "weight": "Bolder",
                                "size": "Small",
                                "spacing": "None"
                              },
                              {
                                "type": "TextBlock",
                                "text": "@{if(greater(outputs('Compose_Identity_Score_Data')?['tenantMaxScore'], 0), formatNumber(div(mul(outputs('Compose_Identity_Score_Data')?['tenantCurrentScore'], 100), outputs('Compose_Identity_Score_Data')?['tenantMaxScore']), 'N2'), '0.00')}%",
                                "size": "Large",
                                "weight": "Bolder",
                                "spacing": "Small"
                              },
                              {
                                "type": "TextBlock",
                                "text": "@{outputs('Compose_Identity_Score_Data')?['tenantCurrentScore']} / @{outputs('Compose_Identity_Score_Data')?['tenantMaxScore']} points",
                                "size": "Small",
                                "spacing": "None",
                                "isSubtle": true
                              }
                            ]
                          },
                          {
                            "type": "Column",
                            "width": "stretch",
                            "separator": true,
                            "items": [
                              {
                                "type": "TextBlock",
                                "text": "📈 Statistics",
                                "weight": "Bolder",
                                "size": "Small",
                                "spacing": "None"
                              },
                              {
                                "type": "FactSet",
                                "spacing": "Small",
                                "facts": [
                                  {
                                    "title": "Controls:",
                                    "value": "@{outputs('Compose_Identity_Score_Data')?['totalControls']}"
                                  },
                                  {
                                    "title": "Licensed:",
                                    "value": "@{outputs('Compose_Identity_Score_Data')?['licensedUsers']}"
                                  },
                                  {
                                    "title": "Active:",
                                    "value": "@{outputs('Compose_Identity_Score_Data')?['activeUsers']}"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Container",
                    "spacing": "Medium",
                    "separator": true,
                    "items": [
                      {
                        "type": "ColumnSet",
                        "columns": [
                          {
                            "type": "Column",
                            "width": "stretch",
                            "items": [
                              {
                                "type": "TextBlock",
                                "text": "👥 Privileged Identities",
                                "weight": "Bolder",
                                "size": "Medium"
                              },
                              {
                                "type": "TextBlock",
                                "text": "Advanced Hunting KQL",
                                "size": "Small",
                                "isSubtle": true,
                                "spacing": "None"
                              }
                            ]
                          },
                          {
                            "type": "Column",
                            "width": "stretch",
                            "separator": true,
                            "items": [
                              {
                                "type": "FactSet",
                                "spacing": "None",
                                "facts": [
                                  {
                                    "title": "🔴 Global Admins:",
                                    "value": "@{if(greater(length(body('Parse_PrivilegedUsers_Response')?['Results']), 0), body('Parse_PrivilegedUsers_Response')?['Results'][0]?['TotalGlobalAdmins'], 0)}"
                                  },
                                  {
                                    "title": "🟠 Security Admins:",
                                    "value": "@{if(greater(length(body('Parse_PrivilegedUsers_Response')?['Results']), 0), body('Parse_PrivilegedUsers_Response')?['Results'][0]?['TotalSecurityAdmins'], 0)}"
                                  },
                                  {
                                    "title": "🟡 Sensitive Users:",
                                    "value": "@{if(greater(length(body('Parse_PrivilegedUsers_Response')?['Results']), 0), body('Parse_PrivilegedUsers_Response')?['Results'][0]?['TotalSensitive'], 0)}"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "type": "Column",
                            "width": "stretch",
                            "separator": true,
                            "items": [
                              {
                                "type": "FactSet",
                                "spacing": "None",
                                "facts": [
                                  {
                                    "title": "🔒 Disabled:",
                                    "value": "@{if(greater(length(body('Parse_PrivilegedUsers_Response')?['Results']), 0), body('Parse_PrivilegedUsers_Response')?['Results'][0]?['TotalDisabled'], 0)}"
                                  },
                                  {
                                    "title": "📊 Total Privileged:",
                                    "value": "@{if(greater(length(body('Parse_PrivilegedUsers_Response')?['Results']), 0), body('Parse_PrivilegedUsers_Response')?['Results'][0]?['TotalPrivileged'], 0)}"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Container",
                    "spacing": "Medium",
                    "separator": true,
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "📋 Top 3 Recommendations",
                        "weight": "Bolder",
                        "size": "Medium"
                      },
                      {
                        "type": "TextBlock",
                        "text": "Highest impact improvements for Identity score",
                        "size": "Small",
                        "isSubtle": true,
                        "spacing": "None"
                      },
                      {
                        "type": "Container",
                        "spacing": "Small",
                        "items": [
                          {
                            "type": "ColumnSet",
                            "columns": [
                              {
                                "type": "Column",
                                "width": "auto",
                                "items": [
                                  {
                                    "type": "TextBlock",
                                    "text": "1️⃣",
                                    "size": "Large",
                                    "spacing": "None"
                                  }
                                ]
                              },
                              {
                                "type": "Column",
                                "width": "stretch",
                                "items": [
                                  {
                                    "type": "TextBlock",
                                    "text": "@{if(greater(length(outputs('Compose_Top3_Recommendations')), 0), outputs('Compose_Top3_Recommendations')[0]?['title'], 'N/A')}",
                                    "wrap": true,
                                    "weight": "Bolder",
                                    "size": "Small",
                                    "spacing": "None"
                                  },
                                  {
                                    "type": "TextBlock",
                                    "text": "Gap: **@{if(greater(length(outputs('Compose_Top3_Recommendations')), 0), string(outputs('Compose_Top3_Recommendations')[0]?['gap']), '0')} points** (@{if(greater(length(outputs('Compose_Top3_Recommendations')), 0), string(outputs('Compose_Top3_Recommendations')[0]?['currentScore']), '0')}/@{if(greater(length(outputs('Compose_Top3_Recommendations')), 0), string(outputs('Compose_Top3_Recommendations')[0]?['maxScore']), '0')})",
                                    "spacing": "None",
                                    "size": "Small",
                                    "isSubtle": true,
                                    "wrap": true
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "type": "ColumnSet",
                            "spacing": "Small",
                            "columns": [
                              {
                                "type": "Column",
                                "width": "auto",
                                "items": [
                                  {
                                    "type": "TextBlock",
                                    "text": "2️⃣",
                                    "size": "Large",
                                    "spacing": "None"
                                  }
                                ]
                              },
                              {
                                "type": "Column",
                                "width": "stretch",
                                "items": [
                                  {
                                    "type": "TextBlock",
                                    "text": "@{if(greater(length(outputs('Compose_Top3_Recommendations')), 1), outputs('Compose_Top3_Recommendations')[1]?['title'], 'N/A')}",
                                    "wrap": true,
                                    "weight": "Bolder",
                                    "size": "Small",
                                    "spacing": "None"
                                  },
                                  {
                                    "type": "TextBlock",
                                    "text": "Gap: **@{if(greater(length(outputs('Compose_Top3_Recommendations')), 1), string(outputs('Compose_Top3_Recommendations')[1]?['gap']), '0')} points** (@{if(greater(length(outputs('Compose_Top3_Recommendations')), 1), string(outputs('Compose_Top3_Recommendations')[1]?['currentScore']), '0')}/@{if(greater(length(outputs('Compose_Top3_Recommendations')), 1), string(outputs('Compose_Top3_Recommendations')[1]?['maxScore']), '0')})",
                                    "spacing": "None",
                                    "size": "Small",
                                    "isSubtle": true,
                                    "wrap": true
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "type": "ColumnSet",
                            "spacing": "Small",
                            "columns": [
                              {
                                "type": "Column",
                                "width": "auto",
                                "items": [
                                  {
                                    "type": "TextBlock",
                                    "text": "3️⃣",
                                    "size": "Large",
                                    "spacing": "None"
                                  }
                                ]
                              },
                              {
                                "type": "Column",
                                "width": "stretch",
                                "items": [
                                  {
                                    "type": "TextBlock",
                                    "text": "@{if(greater(length(outputs('Compose_Top3_Recommendations')), 2), outputs('Compose_Top3_Recommendations')[2]?['title'], 'N/A')}",
                                    "wrap": true,
                                    "weight": "Bolder",
                                    "size": "Small",
                                    "spacing": "None"
                                  },
                                  {
                                    "type": "TextBlock",
                                    "text": "Gap: **@{if(greater(length(outputs('Compose_Top3_Recommendations')), 2), string(outputs('Compose_Top3_Recommendations')[2]?['gap']), '0')} points** (@{if(greater(length(outputs('Compose_Top3_Recommendations')), 2), string(outputs('Compose_Top3_Recommendations')[2]?['currentScore']), '0')}/@{if(greater(length(outputs('Compose_Top3_Recommendations')), 2), string(outputs('Compose_Top3_Recommendations')[2]?['maxScore']), '0')})",
                                    "spacing": "None",
                                    "size": "Small",
                                    "isSubtle": true,
                                    "wrap": true
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Container",
                    "spacing": "Small",
                    "separator": true,
                    "items": [
                      {
                        "type": "ColumnSet",
                        "columns": [
                          {
                            "type": "Column",
                            "width": "stretch",
                            "items": [
                              {
                                "type": "TextBlock",
                                "text": "📅 Generated: @{formatDateTime(variables('Timestamp'), 'MMM dd, yyyy HH:mm')} UTC",
                                "size": "Small",
                                "isSubtle": true,
                                "wrap": true,
                                "spacing": "None"
                              }
                            ]
                          },
                          {
                            "type": "Column",
                            "width": "stretch",
                            "items": [
                              {
                                "type": "TextBlock",
                                "text": "🔄 Score updated: @{formatDateTime(outputs('Compose_Identity_Score_Data')?['createdDateTime'], 'MMM dd, yyyy HH:mm')} UTC",
                                "size": "Small",
                                "isSubtle": true,
                                "wrap": true,
                                "spacing": "None"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ],
                "actions": [
                  {
                    "type": "Action.OpenUrl",
                    "title": "📋 View Full Recommendations",
                    "url": "https://security.microsoft.com/securescore?viewid=overview",
                    "style": "positive"
                  },
                  {
                    "type": "Action.OpenUrl",
                    "title": "🔐 Identities Dashboard",
                    "url": "https://security.microsoft.com/identities/dashboard?tid=@{parameters('tenantId')}"
                  }
                ]
              }
            },
            "Post_Teams_Message": {
              "runAfter": {
                "Compose_TeamsCard": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['teams']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v1.0/teams/@{encodeURIComponent('TEAM_ID_PLACEHOLDER')}/channels/@{encodeURIComponent('CHANNEL_ID_PLACEHOLDER')}/messages",
                "body": {
                  "messageBody": "@{outputs('Compose_TeamsCard')}"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "teams": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]",
                "connectionName": "[variables('teamsConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/teams')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppManagedIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2017-07-01', 'Full').identity.principalId]"
    },
    "teamsConnectionId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Web/connections', variables('teamsConnectionName'))]"
    }
  }
}
